# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env
*.sqlite3

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
